{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="../../static/create_recipe.css">

    <div id="form-div">
        <h1>New Recipe</h1>
        <form action="{{ url_for('recipe_creation.create') }}" id="recipe-form" method="post" enctype="multipart/form-data">
            <div class="form-item">
                <label for="recipe-name">Recipe Name</label>
                <input class="input" type="text" id="recipe-name" name="recipe-name">
            </div>

            <div class="form-item">
                <label for="recipe-desc">Recipe Description</label>
                <textarea class="input" id="recipe-desc" name="recipe-desc"></textarea>
            </div>

            <div class="form-item">
                <label for="servings">Servings</label>
                <input class="input" type="number" id="servings" name="servings">
            </div>

            <div class="form-item">
                <label for="cook-time">Cook Time</label>
                <input class="input" type="number" id="cook-time" name="cook-time">
            </div>

            <div class="form-item">
                <label for="category">Category</label>
                <select class="input" id="category" name="category">
                    <option value="none">None</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
            </div>
            <br>
            <b>Ingredients</b> 

            <input type="hidden" id="ingredient-count" name="ingredient-count" value="1">

            <div class="form-item">
                <div id="ingredient-list">
                    <span class="ingredient-quantity">
                        <label>Ingredient:
                            <input list="ingredients" name="ingredient1" /></label>
                            <datalist id="ingredients">
                            <option value="Flour">
                            <option value="Chicken">
                            <option value="Pepper">
                            <option value="Salt">
                            <option value="Sugar">
                            <option value="Jalapeños">
                            </datalist>
                        <label for="quantity">Quantity</label>
                        <input class="input" type="number" id="quantity" name="quantity1">
                        <label for="unit">Unit</label>
                        <input class="input" type="text" id="unit" name="unit1">
                    </span>
                </div>
            </div>

            <button class="button" type="button" onclick="addIngredient()">Add Ingredient</button>
            <button class="button" type="button" onclick="removeIngredient()">Remove Ingredient</button>
            <br>

            <b>Steps</b>

            <input type="hidden" id="step-count" name="step-count" value="1">

            <div class="form-item">
                <div id="step-list">
                    <span class="step">
                        <label for="step">Step 1</label>
                        <textarea class="input" id="step" name="step1"></textarea>
                    </span>
                </div>
            </div>

            <button class="button" type="button" onclick="addStep()">Add Step</button>
            <button class="button" type="button" onclick="removeStep()">Remove Step</button>
            
            <br>
            <br>

            <div class="form-item">
                <label for="recipe-image">Upload Photo</label>
                <input type="file" name="photo" accept="image/jpeg,image/png" id="recipe-image">
            </div>

            <button class="button" type="submit">Create!</button>
        </form>
    </div>

{% endblock %}