{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="../../static/create_recipe.css">

    <div id="container">
        <h1 class="recipeh1">New Recipe</h1>

        <form action="{{ url_for('recipe_creation.create') }}" id="recipe-form" method="post" enctype="multipart/form-data">

            <div id="form-top">
                <div class="form-item" style="width: 50%;">
                    <label for="recipe-name">Recipe Name</label>
                    <input class="recipe_form_input" type="text" id="recipe-name" name="recipe-name" required>
                </div>


                <div class="form-item" style="max-width: 50%; width: 50%;">
                    <label for="recipe-desc">Recipe Description</label>
                    <textarea class="description_text" id="recipe-desc" name="recipe-desc" required></textarea>
                </div>
            </div>

                    

            <div id="form-middle">
                <div id="form-middle-left">
                    



                    <div style="display: flex; flex-direction: column; align-items: center; gap: 1em; padding-top: 3em;">
                        <input type="hidden" id="ingredient-count" name="ingredient-count" value="1">
                        <div style="font-size: 22px;">Ingredients:</div>
                        
                        <div id="ingredient-list">
                            <div>
                                <label>Ingredient:</label>
                                <input class="ingredient_input" list="ingredients" name="ingredient1" required/>

                                <datalist id="ingredients">
                                    {% for ingredient in ingredients %}
                                        <option value="{{ ingredient.name }}">
                                    {% endfor %}
                                </datalist>

                                <label for="quantity">Quantity</label>
                                <input class="selector-int" style="width: 2.5em;" type="number" id="quantity" name="quantity1" min="0" step="any" required>
                                <label for="unit">Unit</label>
                                <input class="ingredient_input" style="width: 5em;" type="text" name="unit1" required>
                            </div>
                        </div>
    
                        <div style="display: flex; flex-direction: row; justify-content: center; gap: 1em;">
                            <button type="button" class="plus_button" onclick="addIngredient()">
                                <span class="plus_button__text">Add</span>
                                <span class="plus_button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                            </button>
    
                            <button type="button" class="plus_button" onclick="removeIngredient()">
                                <span class="remove_button__text">Remove</span>
                                <span class="plus_button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                            </button>
                        </div>
                    </div>
                </div>


                <div id="form-middle-right">


                    <div style="display: flex; flex-direction: column; align-items: center; gap: 1em; padding-top: 2em;">
                        <div style="font-size: 22px;">Steps:</div>
                        <input type="hidden" id="step-count" name="step-count" value="1">
    
    
                        <div id="step-list">
                            <div class="step">
                                <label for="step">Step 1</label>
                                <textarea class="step_text" id="step" name="step1" required></textarea>
                            </div>
                        </div>
    
    
                        <div style="display: flex; flex-direction: row; justify-content: center; gap: 1em; width: 100%;">
                            <button type="button" class="plus_button" onclick="addStep()">
                                <span class="plus_button__text">Add</span>
                                <span class="plus_button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                            </button>
    
                            <button type="button" class="plus_button" onclick="removeStep()">
                                <span class="remove_button__text">Remove</span>
                                <span class="plus_button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                            </button>
                        </div>
                    </div>






                </div>


            </div>










            <div id="form-bottom">
                
                <div id="selectors">
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 1em;">
                        <label for="servings">Servings</label>
                        <input class="selector-int" type="number" id="servings" name="servings" min="1" required>
                    </div>
    
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 1em;">
                        <label for="cook-time">Cook Time</label>
                        <input class="selector-int" type="number" id="cook-time" name="cook-time" min="1" required>
                    </div>
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 1em;">
                        <label for="category">Category</label>
                        <select class="button" id="category_button" name="category">
                            <option value="All">None</option>
                            <option value="Breakfast">Breakfast</option>
                            <option value="Lunch">Lunch</option>
                            <option value="Dinner">Dinner</option>
                        </select>
                    </div>
                </div>



                <input type="file" name="photo" accept="image/jpeg,image/png" id="recipe-image" style="padding-left: 6em;">

                <button class="button" type="submit" style="width: 10em;">Create</button>
            </div>
        </form>

    </div>

{% endblock %}