{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="../../static/index.css">
    
    <container id="whole-page">
        <div id="side-bar">
            <div id="filter">
                <h2>Filter</h2>
                <form action="{{ url_for('main.filter') }}" id="filter-form" method="POST">
                    <div class="list-item">
                        <input id="none" class="input" type="radio" name="filter" value="none">
                        <label for="none">All</label>
                    </div>

                    <div class="list-item">
                        <input class="input" type="radio" id="breakfast" name="filter" value="breakfast">
                        <label for="breakfast">Breakfast</label>
                    </div>
                    
                    <div class="list-item">
                        <input class="input" type="radio" id="lunch" name="filter" value="lunch">
                        <label for="lunch">Lunch</label>
                    </div>
                    
                    <div class="list-item">
                        <input class="input" type="radio" id="dinner" name="filter" value="dinner">
                        <label for="dinner">Dinner</label>
                    </div>

                    <input type="hidden" name="sort" value="{{ sort }}">

                    <button class="button" type="submit">Apply!</button>
                </form>
            </div>

            <div id="sort">
                <h2>Sort</h2>
                <form action="{{ url_for('main.sort') }}" id="sort-form" method="POST">
                    <div class="list-item">
                        <input id="rating" class="input" type="radio" name="sort" value="option1">
                        <label for="rating">Highest Rating</label>
                    </div>
                    
                    <div class="list-item">
                        <input id="reviews" class="input" type="radio" name="sort" value="option2">
                        <label for="reviews">Most Reviewed</label>
                    </div>
                    
                    <div class="list-item">
                        <input id="recent" class="input" type="radio" name="sort" value="option3">
                        <label for="recent">Most Recent</label>
                    </div>

                    <input type="hidden" name="category" value="{{ category }}">

                    <button class="button" type="submit">Apply!</button>
                </form>
            </div>
        </div>

        <div id="main-body">
            <div id="upper-body">
                <div id="title">
                    <h1>Recipes</h1>
                </div>

                <div id="create-recipe">
                    <a href="{{ url_for('main.create') }}">
                        <button class="button">Create Recipe</button>
                    </a>
                </div>
            </div>

            <div id="lower-body">
                {% if sort == 'option1' %}
                    <h4>Sorted by Highest Rating</h4>
                {% elif sort == 'option2' %}
                    <h4>Sorted by Most Reviewed</h4>
                {% elif sort == 'option3' %}
                    <h4>Sorted by Most Recent</h4>
                {% endif %}
                <div id="recipe-list">
                    {% for recipe in recipes %}
                        {% if category == 'none' or recipe.category == category %}
                            {% include 'recipe_preview.html' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </container>

{% endblock %}
