{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="../../static/index.css">
    
    <container id="whole-page">
        <div id="side-bar">
            <div id="filter">
                <form action="" id="filter-form">
                    <div class="list-item">
                        <input id="filter-cat" class="input" type="radio" id="breakfast" name="filter">
                        <label for="breakfast">Breakfast</label>
                    </div>
                    
                    <div class="list-item">
                        <input id="filter-cat" class="input" type="radio" id="lunch" name="filter">
                        <label for="lunch">Lunch</label>
                    </div>
                    
                    <div class="list-item">
                        <input id="filter-cat" class="input" type="radio" id="dinner" name="filter">
                        <label for="dinner">Dinner</label>
                    </div>

                    <button class="button" type="submit">Apply Filter!</button>
                </form>
            </div>

            <div id="sort">

            </div>
        </div>

        <div id="main-body">
            <div id="upper-body">
                <div id="title">

                </div>

                <div id="create-recipe">

                </div>
            </div>

            <div id="lower-body">
                <div id="recipe-list">
                    <!-- Some kind of jinja template here for each small recipe view -->
                </div>
            </div>
        </div>
    </container>

{% endblock %}
