{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="../../static/index.css">
    
    <container id="whole-page">
        <div id="side-bar">
            <div id="filter">
                <h2>Filter</h2>
                <form action="" id="filter-form">
                    <div class="list-item">
                        <input id="filter-cat" class="input" type="radio" id="breakfast" name="filter">
                        <label for="breakfast">Breakfast</label>
                    </div>
                    
                    <div class="list-item">
                        <input id="filter-cat" class="input" type="radio" id="lunch" name="filter">
                        <label for="lunch">Lunch</label>
                    </div>
                    
                    <div class="list-item">
                        <input id="filter-cat" class="input" type="radio" id="dinner" name="filter">
                        <label for="dinner">Dinner</label>
                    </div>

                    <button class="button" type="submit">Apply!</button>
                </form>
            </div>

            <div id="sort">
                <h2>Sort</h2>
                <form action="" id="sort-form">
                    <div class="list-item">
                        <input id="filter-cat" class="input" type="radio" name="sort">
                        <label for="rating">Highest Rating</label>
                    </div>
                    
                    <div class="list-item">
                        <input id="filter-cat" class="input" type="radio" name="sort">
                        <label for="reviews">Most Reviewed</label>
                    </div>
                    
                    <div class="list-item">
                        <input id="filter-cat" class="input" type="radio" name="sort">
                        <label for="dinner">Most Recent</label>
                    </div>

                    <button class="button" type="submit">Apply!</button>
                </form>
            </div>
        </div>

        <div id="main-body">
            <div id="upper-body">
                <div id="title">
                    <h1>Recipes</h1>
                </div>

                <div id="create-recipe">
                    <button class="button">Create Recipe</button>
                </div>
            </div>

            <div id="lower-body">
                <div id="recipe-list">
                    {% for recipe in recipes %}
                        {% include 'recipe_preview.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </container>

{% endblock %}
