{% extends 'base.html' %}

{% block content %}
    <!-- Profile Content -->
    <link rel="stylesheet" href="../static/profile.css">
    <section class="profile-content">
        <div class="user-info">
            <div class="user-details">
                <h2> <b>Username: {{ user.username }} </b></h2>
                <p><b>Member of Recipe Roster since: {{ user.timestamp.strftime('%Y-%m-%d') }}</b></p>
            </div>
        </div>
        
        <div class="recipes-created">
            {% if user.recipes == [] %}
                <h3><i>You have no created recipes yet :(</i></h3>
                <h3><i>Remember to create a recipe and share it with the community!</i></h3>
            {% endif %}

            {% if user.recipes != [] %}
                <h2><b><u>Recipes You've Created</u></b></h2>
                {% for recipe in user.recipes %}
                <div class="recipe">
                    <div class="recipe-info">
                        <h4><b> Recipe: </b><a href="{{ url_for('recipe.recipe', recipe_id = recipe.id) }}">{{recipe.title}}</a></h4>
                        <p><b> Description: </b>{{ recipe.description }}</p>
                        <p><b> Cook Time: </b>: {{ recipe.cook_time }}</p>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="bookmarked-recipes">
            {% if user.bookmarks == [] %}
                <h3><i>You have no bookmarked recipes yet :(</i></h3>
                <h3><i>Once you bookmark a recipe it will appear here.</i></h3>
            {% endif %}

            {% if user.bookmarks != [] %}
            <h2><b><u>Recipes You've Bookmarked</u></b></h2>
            {% endif %}
            <!-- Display the user's bookmarked recipes here -->
            {% for b_recipe in user.bookmarks %}
                <div class="recipe">
                    <!-- We can add the recipe photo here and use some css to make it nice also-->
                    <div class="recipe-info">
                        <h4><b>Bookmarked Recipe: </b><a href="{{ url_for('recipe.recipe', recipe_id = b_recipe.recipe.id) }}">{{b_recipe.recipe.title}}</a></h4>
                        <p><b> Description: </b>{{ b_recipe.recipe.description }}</p>
                        <p><b> Cook Time: </b>: {{ b_recipe.recipe.cook_time }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="user-photos">
            {% if user.photos == [] %}
                <h3><i>You have no uploaded photos yet :(</i></h3>
                <h3><i>Remember to upload a photo with recipes you post!</i></h3>
                <h3><i>Once you upload a photo with your recipe it will appear here.</i></h3>
            {% endif %}

            {% if user.photos != [] %}
                <h2><b><u>Photo's you've uploaded to Recipe Roster</u></b></h2>
                {% for photo in user.photos %}
                    <img src="{{ url_for('static', filename='photos/photo-' ~ photo.id ~ '.' ~ photo.file_extension) }}" alt="photo">
                {% endfor %}
            {% endif %}
        </div>

    </section>
{% endblock %}