:root {
    --primary: #FF824A;
    --secondary: #000000;
    --primary-variant: #FFA07A;
    --secondary-variant: #696969;
    --background: #FFFFFF;
    --dark-text: #000000;
    --light-text: #FFFFFF;
    --background-overlay: #f1f1f1;
    --background-overlay-variant: #ddd;
    --shadow-color: rgba(0,0,0,0.2);
    --white: #FFFFFF;
    --black: #000000;
}

body {
    background-color: var(--background);
}

header {
    display: flex;
    flex-direction: row;
    padding: 0.5px;
    background-color: var(--background);
    border-bottom: 2px solid var(--secondary);
    position: sticky;
    top: 0px;
    width: 100%;
    z-index : 3;
}

footer {
    bottom: 0;
    padding-top: 10px;
}

#header-logo {
    margin-left: 50px;
    /* max-width: 100%;
    height: auto; */
}

#searchbar {
    width: 500px;
    border-radius: 25px;
    height: 30px;
    padding-left: 10px;
    font-size: 20px;
    /* border: 3px solid green; */
}

#searchbar-form {
    /* border: 3px solid red; */
    margin-left: 50px;
}

#searchform {
    display: flex;
    flex-direction: row;
    gap: 5px;
    /* border: 3px solid orange; */
    position: relative;
    top: 55px;
}

.input:focus {
    border-color: var(--primary);
    outline: none;
}

.button {
    background-color: var(--primary);
    border: none;
    color: var(--light-text);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.button:hover {
    background-color: var(--primary-variant);
}

#header-user {
    align-items: center;
    /* border: 3px solid blue; */
    position: relative;
    left: 300px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#user-dropdown-button {
    width: 100px;
    /* border: 3px solid purple; */
    position:relative;
    top: 55px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--background-overlay);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
    top: 50px;
    left: -15px;
    border-radius: 10px;
    z-index: 3;
}

.dropdown-content a {
    color: var(--secondary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--background-overlay-variant); 
    border-radius: 10px;
    cursor: pointer;
}

.show {display:block;}

.overlay {
    z-index: 2;
    align-items: center;
    position: fixed;
    display: none;
    width: 99%;
    height: 100%;    
    background-color: #69696974;
}

.overlay-content {
    width: 300px;
    background-color: var(--white);
    padding: 40px;
    margin-left: 35%;
    margin-bottom: 10%;
    box-shadow: 0px 8px 16px 0px var(--shadow-color);
    border-radius: 15px;
}

#login-form-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#login-form-content input {
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    width: 100%;
    /* font-size: 20px; */
}

input:focus {
    border-color: var(--primary);
    outline: none;
}

#login-form-header {
    position: relative;
}

#close {
    position: absolute;
    /* background: red; */
    color: white;
    top: 0px;
    right: 0px;
}

#signup-form-header {
    position: relative;
}

#signup-form-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#signup-form-content input {
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
    width: 100%;
}