#whole-page {
    height: 100%;
    width: 100%;
    /* border: 3px solid orange; */
    display: flex;
    flex-direction: row;
}

#side-bar {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    padding: 10px;
    background-color: var(--background-overlay);
    border-radius: 10px;
    height: 100%;
    position: sticky;
    top: 150px;
    margin-left: 15px;
}

#side-bar h2 {
    font-family: 'Roboto', sans-serif;
    color: var(--dark-text);
    font-size: x-large;
    margin-bottom: 5px;
    margin-top: 5px;
}

#side-bar button {
    margin-top: 10px;
}

#filter-form {
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    flex-direction: row;
    /* border: 3px solid green;     */
}

.list-item label {
    font-size: large;
    font-family: 'Roboto', sans-serif;
    color: var(--dark-text);
    padding: 5px;
}

input[type='radio'] {
    accent-color: black;
}

#sort-form {
    display: flex;
    flex-direction: column;
}

#filter {
    background-color: var(--background-overlay-variant);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#sort {
    background-color: var(--background-overlay-variant);
    padding: 10px;
    border-radius: 10px;
}

#main-body {
    display: flex;
    flex-direction: column;
    /* border: 3px solid red; */
    width: 100%;
    padding: 10px;
}

#upper-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 3px solid blue; */
    width: 99%;
    padding: 10px;
}

#lower-body {
    display: flex;
    flex-direction: column;
    /* border: 3px solid green; */
    width: 99%;
    padding: 10px;
}

#title {
    /* border: 3px solid black; */
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
}

h4 {
    margin-bottom: 10px;
    margin-top: 0px;
}

#title h1 {
    margin: 0;
}

/* #create-recipe {
    border: 3px solid black;
} */

#recipe-list {
    /* border: 3px solid pink; */
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.recipe {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-between;
    background-color: var(--background-overlay);
}

#recipe-photo img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid black;
}

#recipe-wrap {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

#recipe-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#recipe-title {
    font-size: x-large;
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    font-weight: bold;
    margin: 0;
}

#search-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /* border: 3px solid black; */
    width: 100%;
}

#recipe-description {
    overflow-wrap: break-word;
    max-width:800px;
}
