<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Recipe Roster</title>
        <link rel="stylesheet" href="../static/base.css">
        <script type="text/javascript" src="../scripts/dropdown.js"></script>
    </head>
    <body>
        <header> <!-- Horizontally place the logo, then a searchbar, then a mini user bio tab with a dropdown menu -->
            <a href="base.html">
                <img id="header-logo" src="../static/header_logo.png" alt="logo" width="250px">
            </a>

            <div id="searchbar-form">
                <form action="" id="searchform">
                    <input id="searchbar" class="input" type="text" placeholder="Recipes, Ingredients, and More...">
                    <button class="button" type="submit">Search!</button>
                </form>
            </div>

            <div id="header-user" class="dropdown">
                <button onclick="func()" class="dropbutton button" id="user-dropdown-button">Log In</button>
                <div id="user-dropdown" class="dropdown-content">
                    <a href="">Log In / Log Out</a>
                    <a href="">Create Account</a>
                    <a href="./main/profile.html">My Profile</a>
                </div>
            </div>

        </header>
        <section class="content">
            <!-- {% block content %}{% endblock %} -->
        </section>
        <footer><small>Developed for Web Applications course at UC3M</small></footer>
    </body>
</html>
