<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Recipe Roster</title>
        <link rel="stylesheet" href="../static/base.css">
        <script type="text/javascript" src="{{ url_for('static', filename='dropdown.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='login_overlay.js') }}"></script>
    </head>
    <body>
        <header> <!-- Horizontally place the logo, then a searchbar, then a mini user bio tab with a dropdown menu -->
            <a href="{{ url_for('main.index') }}">
                <img id="header-logo" src="{{ url_for('static', filename='header_logo.png') }}" alt="logo" width="250px">
            </a>

            <div id="searchbar-form">
                <form action="" id="searchform">
                    <input id="searchbar" class="input" type="text" placeholder="Recipes, Ingredients, and More...">
                    <button class="button" type="submit">Search!</button>
                </form>
            </div>

            <div id="header-user" class="dropdown">
                <button onclick="dropdownFunc()" class="dropbutton button" id="user-dropdown-button">Log In</button>
                <div id="user-dropdown" class="dropdown-content">
                    <!-- Display Login if logged out and vice versa -->
                    <a onclick="loginOverlayOn()">Log In / Log Out</a> 
                    <a onclick="">Create Account</a>
                    <a href="{{ url_for('main.profile') }}">My Profile</a>
                </div>
            </div>

        </header>

        <div id="login-overlay" class="overlay">
            <div class="overlay-content">
                <form id="login-form" action="" method="post">
                    <div id="login-form-header">
                        <h1>Log In</h1>
                    </div>
                    <div id="login-form-content">
                        <label for="username"><b>Username</b></label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                        <label for="password"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                        <button type="submit" class="button">Log In</button>
                    </div>
                </form>
            </div>
        </div>

        <section class="content">
            {% block content %}{% endblock %}
        </section>
        <!-- <footer><small>Developed for Web Applications course at UC3M</small></footer> -->
    </body>
</html>
