<div style="display: flex; flex-direction: column; gap: .5em; padding-bottom: 5em;">
    {% for rating in recipe.ratings %}
            <div class="rating"><a class="text_button" href="{{ url_for('profile.get_profile', user_id = rating.user_id) }}">{{rating.user.username}}</a></div> 
            <div style="color: var(--primary); padding-left: 2em;">{% for i in range(rating.rating)%}&#9733{% endfor %}</div>
            <div style="padding-left: 2em;">{{ rating.comment }}</div> 
    {% endfor %}
</div>