<link rel="stylesheet" href="../static/index.css">

<div class="recipe">
    <div id="recipe-wrap">
        <div id="recipe-photo">
            {% if recipe.photos %}
                <img src="{{ url_for('static', filename='photos/photo-' ~ recipe.photos[0].id ~ '.' ~ recipe.photos[0].file_extension) }}" alt="recipe photo">
            {% else %}
                <img src="../static/logo.png" alt="recipe photo">
            {% endif %}
        </div>
        <div id="recipe-content">
            <div id="recipe-title">
                {{ recipe.title }}
            </div>
            <div id="recipe-description">
                {{ recipe.description }}
            </div>
        </div>
    </div>
    <div id="bookmark-button">
        <button class="button">
            <img src="../static/bookmark-icon.png" alt="bookmark icon" width="20px" id="bookmark">
        </button>
    </div>
</div>