<link rel="stylesheet" href="../static/index.css">

<div class="recipe">
    <div id="recipe-wrap">
        <div id="recipe-photo">
            {% if recipe.photos %}
                <img src="{{ url_for('static', filename='photos/photo-' ~ recipe.photos[0].id ~ '.' ~ recipe.photos[0].file_extension) }}" alt="recipe photo">
            {% else %}
                <img src="../static/logo.png" alt="recipe photo">
            {% endif %}
        </div>
        <div id="recipe-content"> 
            <!-- TODO: Put rating here -->
            <div id="recipe-title">
                <a href="{{ url_for('recipe.recipe', recipe_id=recipe.id) }}">
                    {{ recipe.title }}
                </a>
            </div>
            <div id="recipe-description">
                {{ recipe.description }}
            </div>
        </div>
    </div>
    {% if current_user.is_authenticated %}
        <div id="bookmark-button">
            <form action="{{ url_for('main.bookmark') }}" method="post">
                <button class="button" type="submit">
                    {% set bookmarked = [0] %}
                    {% for bookmark in bookmarks %}
                        {% if recipe.id == bookmark.recipe_id %}
                            {% if bookmarked.insert(0, 1) %}{% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if bookmarked[0] == 1 %}
                        <img src="../static/bookmark-filled.png" alt="bookmark icon" width="20px" id="bookmark">
                    {% else %}
                        <img src="../static/bookmark-empty.png" alt="bookmark icon" width="20px" id="bookmark">
                    {% endif %}
                </button>
                <input type="hidden" name="recipe-id" value="{{ recipe.id }}">
                <input type="hidden" name="category" value="{{ category }}">
                <input type="hidden" name="sort" value="{{ sort }}">
            </form>
        </div>
    {% endif %}
</div>