<link rel="stylesheet" href="../static/your_recipes.css">

<a class="recipe-card-button" href="{{ url_for('recipe.recipe', recipe_id=recipe.id) }}">
    <div class="recipe">
        <div id="recipe-photo">
            {% if recipe.photos %}
                <img src="{{ url_for('static', filename='photos/photo-' ~ recipe.photos[0].id ~ '.' ~ recipe.photos[0].file_extension) }}" alt="recipe photo">
            {% else %}
                <img src="../static/logo.png" alt="recipe photo">
            {% endif %}
        </div>
        <div id="recipe-content"> 
            <div>
                <div id="recipe-title">
                    <!-- <a class="text_button" href="{{ url_for('recipe.recipe', recipe_id=recipe.id) }}"> -->
                        {{ recipe.title }}
                    <!-- </a> -->
                </div>
                <div id="recipe-info">
                    {% set avg = [0] %}
                    {% for review in recipe.ratings %}
                        {% if avg.insert(0, avg[0] + review.rating) %}{% endif %}
                    {% endfor %}
                    {% if avg[0] == 0 %}
                        Unrated
                    {% else %} 
                        {{ avg[0] / recipe.ratings|length }} <span style="color: var(--primary);">&#9733</span>
                    {% endif %}
                </div>
                <div>
                    {% if recipe.cook_time == 1 %}
                        Cook Time: {{ recipe.cook_time }} min
                    {% else %}
                        Cook Time: {{ recipe.cook_time }} mins
                    {% endif %}
                </div>
            </div>
            <div id="recipe-description">
                {{recipe.description}}
            </div>
        </div>
    </div>
</a>